*{
    box-sizing: border-box;
    
}
.btn-primary {
    @include button-variant(blue, darken(white, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
}

.btn-outline-primary {
    @include button-outline-variant($mynewcolor, #222222, lighten($mynewcolor,5%), $mynewcolor);
}

body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h3{
    font-weight: bold;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}
@media screen and (max-width: 992px) {
    body {
      width: 50%;
    }
  }
  
   /*Images are stacked at 768px or smaller */
  @media screen and (max-width: 768px) {
    body {
      width: 100%;
    }}


